table, th, td {
    border:1px solid black;
  }



  /* code for adjusting serial number */
  body
{
    counter-reset: Serial;           
}

table
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial; 
  content:counter(Serial);
}
